body {
    background: url('/static/images/index-bg.webp') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: rgba(40, 167, 69, 0.5) !important; /* Slight transparency */
    padding: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.btn-custom {
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
                -4px -4px 8px rgba(255, 255, 255, 0.5);
    border: none;
    color: #333;
    margin-top: 10px;
}

.btn-custom:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.btn-success {
    background: linear-gradient(145deg, #5cb85c, #4cae4c);
    color: white;
}

.btn-primary {
    background: linear-gradient(145deg, #337ab7, #286090);
    color: white;
}

.btn-info {
    background: linear-gradient(145deg, #5bc0de, #46b8da);
    color: white;
}

.btn-danger {
    background: linear-gradient(145deg, #d9534f, #c9302c);
    color: white;
}

.generate-section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

/* Additional styling for the user info form */
.user-info-form {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    color: #000;
    display: none; /* Start hidden */
}

.user-info-form label {
    font-weight: bold;
}

.user-groups-section {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  margin-top: 2rem;
}

#myGroupsList .list-group-item {
  cursor: default;
}

.invite-section, #invitationsContainer {
  margin-top: 2rem;
}

#createGroupForm {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}

.indicator-badge {
  position: absolute;
  top: -2px;      /* tweak to position the dot exactly how you want */
  right: -2px;    /* tweak these offsets for your button size */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid white; /* optional border, helps visibility if the button is white */
}



/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    .btn-custom {
        font-size: 1rem;
        padding: 10px 15px;
    }
    .generate-section h2 {
        font-size: 1.5rem;
    }
    .row {
        gap: 15px;
    }
}

