.done-row {
    background-color: #d4edda;
}

.fc-toolbar {
    display: block !important;
    text-align: center;
}

.fc-toolbar-title {
    margin-bottom: 10px;
}

.fc-toolbar-chunk {
    display: inline-block;
    margin: 5px;
}

.workout-management-container {
    display: none;
}

/* Loading Spinner */
#loadingSpinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
    z-index: 1000;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.toggle-btn {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
    display: inline-block;
    margin: 10px 0;
}

.toggle-btn:hover {
    color: #0056b3;
    text-decoration: underline;
}

#newMovementForm {
    display: none;
}

.go-back-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.go-back-button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 1rem;
    }

    .card {
        padding: 10px;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table th,
    .table td {
        font-size: 0.8rem;
        padding: 5px;
    }

    .btn {
        padding: 8px 12px;
        font-size: 0.9rem;
    }

    .go-back-container {
        bottom: 10px;
        left: 10px;
    }

    .go-back-button {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}

form .form-control,
form .form-select {
    width: 100%;
}
